Это игра про блеф и маскировку.
Все знают тайное слово.
Кроме одного — он едет зайцем.
Зайцев никто не любит,
и нужно его найти. А зайцу
нужно притвориться, что он
как все, и не спалиться.

После выбора темы игры, появится список слов
и все игроки получат номер обсуждаемого слова, кроме зайца.
Номер держится в тайне. Вместо этого все игроки начинают обсуждать секретное слово, не называя  
его. По окончанию обсуждений игроки должны вынести решение - кто же заяц. 
Имя счастливчика выбирают из списка игроков и жмякают на него, а бот радует вас свом ответом.
Либо побеждает заяц, либо охотники, третьего не дано.